body {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
    line-height: 1.56rem;
}
 
/* header */
header {
    background-color: #ffffff;
    padding: 1rem 2vw;
}

header h1 {
    margin: 0;
    color: #6cace4;
}

header p {
    margin: 0;
    padding-top: .7rem;
    padding-left: .7rem;
    color: #6cace4;
    letter-spacing: 1px;
}

/* navigation */

nav ul {
    display: flex;
    justify-content: center;
    background-color: #ffb81c;
    padding: 1rem 2rem;
    border-top: #6cace4 2px solid;
    border-bottom: #6cace4 2px solid;
}

nav li {
    list-style-type: none;
    color: #ffffff;
    font-size: 1.5rem;
}

nav a {
    text-align: center;
    text-decoration: none;
    color: #000;
    padding: 1.125rem 1rem;
}

nav a:hover {
    background-color: #6cace4;
    color: #000; 
    padding-top: .9rem;
    padding-bottom: 1rem;

}

nav li.active a {
    background-color: #6cace4;
    color: #000;
    padding-top: .9rem;
    padding-bottom: 1rem;
}

/* main */
main {
    padding: 1rem 3vw;
}

main h1 {
    color: #6cace4;
}

main h2 {
    margin: 3rem 1rem 0 1rem; 
    color: #7d4016;
    
}

main p {
    color: #000000;
    margin: 0;
    padding: .625rem .625rem 0 .625rem;
    text-indent: 2.5rem;  
}

main ol {
    padding: 1rem 2vw;
    background-color: #ffffff;
}

main dl dt {
    color: #7d4016;
    font-weight: 700;
    padding: 1rem .65rem .65rem .65rem;
}

main dl dd {
    color: #000000;
    font-size: .9rem;
}

main a {
    color: #6cace4;
}

main a:hover {
    color: rgb(255,184,28);
}

.facts_lists {
    list-style: square;
    margin-left: .938rem;
}

main address {  
    margin: 2rem auto 1rem auto;
    padding: 1rem;
    text-align: center;
    font-style: italic;
    width: 13rem;
    border: 1px solid #6cace4;
    border-radius: .5rem;
    margin-left: auto;
    margin-right: auto;
}

/* footer */
footer {
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    padding: 1rem 0;
    font-size: .8rem;
    clear: both;
}

footer a {
    color: #6cace4;
}

/* GEOGRAPHY PAGE */

.climate_list {
    list-style: circle;
    margin-left: 3rem;
}

.geo_regions {
    margin: 0 4rem;
}

/* Images */

figure.arg_flag {
    width: 30%;
    margin: 0 0 0 1%;
    float: right;
}

figure.arg_flag img{
    width: 100%;
    height: auto;
}

figure.arg_flag figcaption {
    text-align: center;
    font-size: .8rem
}

div.places_gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div.places_gallery img {
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div.places_gallery figure {
    margin: 1rem 2% 0 0;
}

div.places_gallery figcaption {
    text-align: center;
    font-size: .9rem;
    color: #7d4016;
    background-color: #6cace4;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}